extends layout

block content

  h1 File Upload
    p #{msg}

    form(action='/file/upload', method='POST', enctype='multipart/form-data')
      .file-field.input-field
        .btn.grey
          span File
          input(name='myImage', type='file')
      button.btn(type='submit') Submit
    
