extends layout


block content

  #particles-js 
  .container-js
    h2.page-header Login
    h3  Please login below
    form(method='post', action='/users/login')
      .form-group
        p Username
        input.form-control(name='username', type='text', placeholder='Enter Username')
      .form-group
        p Password
        input.form-control(name='password', type='password', placeholder='Enter Password')
      input.btn.btn-primary(type='submit', name='submit', value='Login')

